.container {
    display: flex;
    border-radius: 1px solid black;
    justify-content: center;
    background-color: black;
}

.item {
    font-size: 40px;
    height: 80px;
    width: 100px;
    color: white;
}